@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: monospace;
  }

.font-titles{
    font-family: Lucida Console , Monaco, monospace;
}

  a hr {
    visibility: hidden;
    opacity: 0;
}

a.active hr {
    visibility: visible;
    opacity: 1;
}

::-webkit-scrollbar {
    display:none;
}

@media (max-width=640px){
  a.active{
    background-color: black;
    color:white;
  }
}